.producto-botones{
    display: flex;
    margin: 1rem 0;
    width: 100%;
}

.producto-boton{
    margin-right: 2rem;
    width: 40%;
}

.producto-boton button{
    background-color: #c38a28;
    padding: 0.5rem 2rem;
}

.producto-boton button svg{
    height: 1.5rem;
    width: 1.5rem;
}
